body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
    
    
}
.user{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #050505;
    border-radius: 10px;  
}


